@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* #region GLOBAL */
* {
  box-sizing: border-box;
}
:root {
  --light: #fafafa;
  --dark: #131313;
  --static: #d2d2d2;
  --primary: #37699c;
}
body {
  font-family: "Roboto", serif;
  background-color: var(--light);
  color: var(--dark);
}
h1,
h2,
h3 {
  font-weight: 400;
  color: var(--primary);
}
/* #endregion */
/* #region ALL IMAGES */
img {
  display: block;
  width: 100%;
}
figure {
  margin: 0;
  padding: 0;
}
/* #endregion */
/* #region FORMS */
form {
  width: 700px;
  margin: auto;
  background-color: #eee;
}
form fieldset {
  display: flex;
  flex-direction: column;
}
label,
input,
textarea {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
label {
  margin-bottom: 0;
}
textarea {
  resize: none;
}
form fieldset > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 2fr 4fr; */
  gap: 1rem;
}

/* #endregion */

@media screen and (max-width: 768px) {
}
